.container
	.row.justify-content-center
		.col-12.col-md-6
			%header
				%h2
					=t(".update") 					
			= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
				.form-group
					=f.input :name,required: true, input_html:{class: "form-control"}, label: t('.name')
				.form-group
					=f.input :phone, input_html:{class: "form-control"}, label: t('.phone')
				.form-group
					= f.input :email, required: true, autofocus: true, input_html:{class: "form-control"}, label: t('.email')
				- if devise_mapping.confirmable? && resource.pending_reconfirmation?
					%p 
						Currently waiting confirmation for: 
						= resource.unconfirmed_email
				.form-group
					= f.input :password, hint: t('.hint1'), required: false, input_html: { autocomplete: "new-password",class: "form-control" }, label: t('.password')
				.form-group
					= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" ,class: "form-control" }, label: t('.password_confirmation') 
				.form-group
					= f.input :current_password, hint: t('.hint2'),	required: true,	input_html: { autocomplete: "current-password",class: "form-control" }, label: t('.current_password') 
				= f.button :submit, t(".update"), class: "btn btn-primary"
			.cancel_account
				%h3=t('.cancel_account')
				%p
					=t('.unhappy')
					= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete