.container
  .row.justify-content-center
    .col-12.col-md-6
      %header
        %h2=t('.sign_up')
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|        
        .form-group
          =f.input :name,required: true, input_html:{class: "form-control"}, label: t('.name')
        .form-group
          =f.input :phone, input_html:{class: "form-control"}, label: t('.phone')
        .form-group
          =f.input :email, required: true, autofocus: true ,input_html: { autocomplete: "email", class: "form-control" }, label: t('.email')
        .form-group
          = f.input :password, required: true, hint: ("#{@minimum_password_length} #{t('.charecters_minum')} " if @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" }, label: t('.password')
        .form-group
          = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" , class: "form-control"}, label: t('.password_confirmation')
        = f.button :submit, t(".sign_up"), class: "btn btn-primary"
      = render "devise/shared/links"