%footer.main-footer.container-fluid
	.row
		.container
			.row
				.col-12.col-md-3
					%h2=t('nav.contact')
					%ul
						%li
							%i.fa.fa-envelope-o{:"aria-hidden" => "true"}
							=link_to t('nav.mail'), "#"
						%li
							%i.fa.fa-phone{:"aria-hidden" => "true"}
							=link_to t('nav.phone'), "#"
				.col-12.col-md-3
					%h2=t('nav.institutional')
					%ul
						%li=t('nav.about')
				.col-12.col-md-3
					%h2=t('nav.links')
					%ul
						%li=link_to t('nav.contact_page'), "#"
						%li=link_to t('nav.reservations'), "#"
						%li=link_to t('nav.faq'), "#"
						%li=link_to t('nav.privacy')
				.col-12.col-md-3
					%h2=t('nav.social')
					%ul
						%li
							%i.fa.fa-facebook-square{:"aria-hidden" => "true"}
							=link_to t('nav.facebook'), "#"
						%li
							%i.fa.fa-twitter-square{:"aria-hidden" => "true"}
							=link_to t('nav.twitter'), "#"
						%li
							%i.fa.fa-pinterest-square{:"aria-hidden" => "true"}
							=link_to t('nav.pinterest'), "#"
						%li
							%i.fa.fa-instagram{:"aria-hidden" => "true"}
							=link_to t('nav.instagram'), "#"
