%header.main-header
  .container
    %nav.navbar.navbar-expand-lg.navbar-light.main-nav      
      %a.navbar-brand{href: root_path}
        =image_tag('/assets/minion_store_logo')
        %h1
          %b Minions
          Store
      %button{class: "navbar-toggler", type: "button", 'data-toggle': "collapse", 'data-target': "#mainMenu", 'aria-controls': "mainMenu", 'aria-expanded': "false", 'aria-label': "Toggle Navigation"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#mainMenu
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            -if current_user.is_admin?
              %li.nav-item.dropdown
                %a#navbarMinionDropdown.nav-link.dropdown-toggle{:role => "button", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
                  =t('nav.minions')
                .dropdown-menu{:"aria-labelledy" => "navbarMinionDropdown"}
                  =link_to t('nav.minions'), minions_path, class: 'dropdown-item'
                  =link_to t('nav.new_minion'), new_minion_path, class: 'dropdown-item'
            %li.nav-item
              =link_to t('nav.myreservations'), myreservations_path, class: 'nav-link'
            %li.nav-item
              %a{:href => edit_user_registration_path, class: 'nav-link'}
                =current_user.name
                -if current_user.is_admin?
                  %small=t("nav.admin")            
            %li.nav-item
              =link_to t('nav.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link'            
            
          -else            
            %li.nav-item
              =link_to t('nav.sign_in'), new_user_session_path, class: 'nav-link'
            %li.nav-item
              =link_to t('nav.sign_up'), new_user_registration_path, class: 'nav-link'