= simple_form_for @minion do |f|  
  .form-group
    = f.input :name, input_html:{class: "form-control"}, label: t('.name')
  .form-group
    = f.input :description, input_html:{class: "form-control"}, label: t('.description')
  .form-group
    = f.input :image, input_html:{class: "form-control"}, label: t('.image')
  = f.button :submit, t(".create"), class: "btn btn-primary"