.container
	.row.justify-content-center
		.col-12.col-md-6
			%header
				%h2=t('.edit')
			.minion-img
				-if @minion.image.attached?
					= image_tag @minion.image.variant(resize: "250x250")
			= render 'form'			
			= link_to t('.show'), @minion
			\|
			= link_to t('.back'), minions_path
