%ul.minions-list.container
	.row
		-@minions.each do |minion|
			%li.minion-wrapper.col-12.col-md-3
				.content
					.img-wrapper
						-if minion.image.attached?
							= image_tag minion.image.variant(resize: "150x150")
					%h2=link_to minion.name, minion
					%p=truncate(minion.description, :length => 120)
					.reservation
						%a{href: new_minion_reservation_path(minion)}						
							=t('book_now')
							%i.fa.fa-heart{:"aria-hidden" => "true"}
					-if current_user
						-if current_user.is_admin
							.controls
								=link_to t('.edit'), edit_minion_path(minion)
								=link_to t('.destroy'), minion , method: :delete, data: { confirm: t('.are_you_sure') }