.minion-wrapper.container
	.row		
		.col-12.col-md-4.img
			-if @minion.image.attached?				
				= image_tag @minion.image.variant(resize: "250x250")
		.col-12.col-md-7.info.ml-auto
			-if current_user
				-if current_user.is_admin
					.controls
						=link_to t('.edit'), edit_minion_path(@minion)
						=link_to t('.destroy'), @minion , method: :delete, data: { confirm: t('.are_you_sure') }
			%h2=@minion.name
			%p=@minion.description
			.reservation
				%a{href: new_minion_reservation_path(@minion)}
					=t('book_now')
					%i.fa.fa-heart{:"aria-hidden" => "true"}			
