= simple_form_for [@minion, @reservation] do |f|  
  .form_group    
    = f.input :message, label: t('.message'), input_html:{class: "form-control"}
  .actions
    = f.button :submit, t(".reservate"), class: "btn btn-primary"
