%h1 Listing reservations

%table
  %thead
    %tr
      %th Minion
      %th User
      %th Message
      %th
      %th
      %th

  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.minion
        %td= reservation.user
        %td= reservation.message
        %td= link_to 'Show', minion_reservation_path(@minion, reservation)
        %td= link_to 'Edit', edit_minion_reservation_path(@minion, reservation)
        -# %td= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Reservation', new_minion_reservation_path
