.container.myreservations
	%header
		%h1=t('.myreservations')
	- if !@reservations.empty?		
		%ul.reservations-list.container
			.row
				- @reservations.each do |reservation|
					%li.col-12.col-md-3
						.content
							.img-wrapper
								-if reservation.minion.image.attached?
									=image_tag(reservation.minion.image.variant(resize: "150x150"))
							%h2								
								=link_to reservation.minion.name, minion_path(reservation.minion)
							%p
								%label=t('.created_at')								
								=l(reservation.created_at, format: :long)
	- else
		.empty_reservations
			%h2=t('.noreservations_html', user: current_user.name)
			=link_to t('.minions'), minions_path
	