.container.reservation_new
	.row.justify-content-center
		.col-12.col-md-5.selected_minion
			.img_wrapper
				-if @minion.image.attached?				
					= image_tag @minion.image.variant(resize: "250x250")
			.info
				%h2=@minion.name
				%p=@minion.description
		.col-12.col-md-5
			%header
				%h3=t('.new_reservation')					
			= render 'form'
			= link_to t('.back'), minions_path