%p#notice= notice

%p
  %b Minion:
  = @reservation.minion
%p
  %b User:
  = @reservation.user
%p
  %b Message:
  = @reservation.message

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
