Olá Raquel!	Uma nova reserva foi efetuada na Minion Store Confira abaixo os detalhes da reserva.

=@reservation.minion.name
Nome:
=@reservation.user.name		
Email:
=@reservation.user.email
- if !@reservation.user.phone.empty?
	Telefone:
	=@reservation.user.phone
- if @reservation.message.empty?
	Mensagem:
	=@reservation.message