%header{:style => "text-align: center; margin-bottom:20px;"}
	%a.navbar-brand{href: root_url, :style => "display:block;"}
		=image_tag('https://aqueous-wildwood-91372.herokuapp.com/assets/minion_store_logo', :style => "width:80px; height:auto; vertical-align:middle;")
		%h1{:style => "color: #fbe240; display: inline-block; vertical-align: middle; font-size: 22px;"}
			%b Minions
			Store
.welcome-msg{:style => "max-width:620px; margin:0px auto; color:#707070; font-size:1.5rem; margin-bottom:30px;"}
	%h2
		Olá,
		=@reservation.user.name
	%p
		Sua reserva foi efetuada com sucesso na
		%b Minion Store.
		Confira abaixo os detalhes da reserva.
.reervation-details{:style => "vertical-align:top; margin:0px auto; max-width:620px;"}
	.left{:style => "display:inline-block; width:300px; vertical-align:top;  text-align:center; margin-right:10p;"}
		=image_tag(@reservation.minion.image, :style => "width:100px;")
		%h3=link_to @reservation.minion.name, minion_url(@reservation.minion), :style => "color: #707070;"
	.right{:style => "display:inline-block; width:300px; vertical-align:top; "}
		%p
			%label
				Nome:
			=@reservation.user.name		
		%p
			%label
				Email:
			=@reservation.user.email
		- if !@reservation.user.phone.empty?
			%p
				%label
					Telefone:
				=@reservation.user.phone
		- if !@reservation.message.empty?
			%p
				%label
					Mensagem:
				=@reservation.message
%footer{:style => "margin-top:40px; max-width:620px; background-color:#fbe240; color:#ffffff; text-align:center; padding: 20px; margin:0px auto;"}
	%h2 minion store