.container
  .row.justify-content-center
    .col-12.col-md-6
      %header
        %h2=t('.sign_in')
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          =f.input :email, required: true, autofocus: true ,input_html: { autocomplete: "email", class: "form-control" }, label: t('.email')
        .form-group
          = f.input :password, required: false, input_html: { autocomplete: "current-password", class: "form-control" }, label: t('.password')
          = f.input :remember_me, as: :boolean, label: t('.remember_me') if devise_mapping.rememberable?
        = f.button :submit, t(".sign_in"), class: "btn btn-primary"
    
      = render "devise/shared/links"