@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
body, html{
	font-family: 'Montserrat', sans-serif;
}
$color1 : #1d76ba;
$color2 : #707070;
$color3 : #fbe240;
$color4 : #ffffff;
$color5 : #3493db;
$color6 : #ef2b2b;
/* Main header */
.main-nav {
	margin-bottom: 50px;
	.navbar-brand{
		img{
			width: 80px;
			height: auto;	
		}
		h1{
			color: $color3;
			display: inline-block;
			vertical-align: middle;
			font-size: 22px;
		}		
	}
	small{
		color: $color6;
		font-size: 70%;
		opacity: 0.8;
	}
}
/* Notifications */
.notifications{
	text-align: center;
	background-color: rgba(29, 118, 186, 0.6);
	position: absolute;
	width: 100%;
	z-index: 9;
	padding: 20px;
	color: $color4;
	p{
		margin: 0px;
		font-size: 1.2rem;
		font-weight: 600;
	}
	&.alert{
		background-color: rgba(239, 43, 43, 0.6);
	}
}
.main-content-wrapper{
	min-height: 55vh;
}
/* minions index */
.minions-list{
	padding: 0px;
	margin: 0px;
	li{
		list-style: none;
		.content{			
			background-color: $color4;
			-webkit-box-shadow: 3px 4px 8px 2px rgba(29, 118, 186, 0.16);
			-moz-box-shadow: 3px 4px 8px 2px rgba(29, 118, 186, 0.16);
			box-shadow: 3px 4px 8px 2px rgba(29, 118, 186, 0.16);
			border-radius: 7px;
			overflow: hidden;
			margin-bottom: 30px;
			padding-bottom: 15px;
			.img-wrapper{
				text-align: center;
				padding: 10px;
			}
			h2{
				a{
					font-size: 1.2rem;
					font-weight: 500;
					color: $color2;
					margin-top: 0px;
					margin-bottom: 15px;
					padding-left: 15px;
					padding-right: 15px;	
				}				
			}
			p{
				color: $color2;
				font-weight: 300;
				padding-left: 15px;
				padding-right: 15px;
			}

		}		
	}
}
/* Minion page */
.minion-wrapper{
	.img{
		text-align: center;
	}
	.info{
		color: $color2;
		h2{
			margin-top: 0px;
			margin-bottom: 30px;
			font-weight: 500;
			font-size: 2.5rem;			
		}
		p{
			font-weight: 300;
			margin-bottom: 30px;
		}
	}
	.controls{
		text-align: center;
		margin-top: 20px;
		a{
			margin: 5px;
		}
	}
}
/* reservation btn */
.reservation{
	text-align: center;
	a{
		display: inline-block;
		color: $color4;
		font-weight: 600;
		border-radius: 30px;
		padding: 7px 30px;
		font-size: 1.1rem;
		background-color: $color5;
		i{
			color: $color4;
			margin-left: 5px;
			transition: color 0.2s ease-in-out;	
			
		}
		&:hover, &:focus{
			color: $color3;
			i{
				color: $color6;
			}
		}
	}
}
/* Reservations */
.reservation_new{
	.img_wrapper{
		text-align: center;
		margin-bottom: 20px;
	}
	.info{
		color: $color2;
		h2{
			margin-top: 0px;
			margin-bottom: 20px;
			font-weight: 600;			
		}
		p{
			font-weight: 300;
		}
	}
	header h3{
		color: $color2;
		font-weight: 600;
		margin-bottom: 20px;
		margin-top: 5%;
	}
	form{
		label{
			margin-bottom: 10px;
		}
		textarea{
			margin-bottom: 20px;
			height: 150px;
		}
	}
}
.empty_reservations{
	max-width: 700px;
	padding: 20px;
	margin: 0px auto;
	h2{
		b{
			font-weight: 600;
			text-transform: capitalize;			
		}
		font-size: 2.4rem;		
		color: $color2;
	}
	a{
		font-size: 1.5rem;
		margin-top: 10px;
	}
}
.reservations-list{
	padding: 0px;
	margin: 0px;
	li{
		list-style: none;
		.content{			
			background-color: $color4;
			-webkit-box-shadow: 3px 4px 8px 2px rgba(29, 118, 186, 0.16);
			-moz-box-shadow: 3px 4px 8px 2px rgba(29, 118, 186, 0.16);
			box-shadow: 3px 4px 8px 2px rgba(29, 118, 186, 0.16);
			border-radius: 7px;
			overflow: hidden;
			margin-bottom: 30px;
			padding-bottom: 15px;
			.img-wrapper{
				text-align: center;
				padding: 10px;
			}
			h2{
				a{
					font-size: 1.2rem;
					font-weight: 500;
					color: $color2;
					margin-top: 0px;
					margin-bottom: 15px;
					padding-left: 15px;
					padding-right: 15px;	
				}				
			}
			p{
				label{
					font-weight: 600;
					font-style: normal;
				}				
				line-height: 0.7rem;
				font-style: italic;
				color: $color2;
				font-weight: 300;
				padding-left: 15px;
				padding-right: 15px;
			}

		}		
	}
}
/* Main footer */
.main-footer{
	background-color:$color1;
	padding:30px 0px;	
	color: $color4 ;
	margin-top: 50px;
	.col-12.col-md-3{
		margin-bottom: 20px;
	}
	h2{
		margin-bottom: 20px;
		margin-top: 0px;
		font-weight: 600;
		font-size: 1.5rem;
	}
	ul{
		padding: 0px;
		margin: 0px;
		li{
			list-style: none;
			padding: 0px;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0px;
			}
			i{
				margin-right: 5px;	
			}
		}
	}
	a{
		color: $color4;
		text-decoration: none;
		&:hover, &:focus{
			text-decoration: underline;
			color: $color3;
		}
	}
}