!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Minions Store
		= csrf_meta_tags
		= csp_meta_tag
		=favicon_link_tag  "/assets/favicon/favicon" , rel: "shortcut icon" 
		=favicon_link_tag  "/assets/favicon/apple-icon-57x57.png" , rel: "apple-touch-icon" , sizes: "57x57" 
		=favicon_link_tag  "/assets/favicon/apple-icon-60x60.png" , rel: "apple-touch-icon" , sizes: "60x60" 
		=favicon_link_tag  "/assets/favicon/apple-icon-72x72.png" , rel: "apple-touch-icon" , sizes: "72x72" 
		=favicon_link_tag  "/assets/favicon/apple-icon-76x76.png" , rel: "apple-touch-icon" , sizes: "76x76" 
		=favicon_link_tag  "/assets/favicon/apple-icon-114x114.png" , rel: "apple-touch-icon" , sizes: "114x114" 
		=favicon_link_tag  "/assets/favicon/apple-icon-120x120.png" , rel: "apple-touch-icon" , sizes: "120x120" 
		=favicon_link_tag  "/assets/favicon/apple-icon-144x144.png" , rel: "apple-touch-icon" , sizes: "144x144" 
		=favicon_link_tag  "/assets/favicon/apple-icon-152x152.png" , rel: "apple-touch-icon" , sizes: "152x152" 
		=favicon_link_tag  "/assets/favicon/apple-icon-180x180.png" , rel: "apple-touch-icon" , sizes: "180x180" 
		=favicon_link_tag  "/assets/favicon/android-icon-192x192.png" , rel: "icon" , type: "image/png" , sizes: "192x192"  
		=favicon_link_tag  "/assets/favicon/favicon-32x32.png" , rel: "icon" , type: "image/png" , sizes: "32x32" 
		=favicon_link_tag  "/assets/favicon/favicon-96x96.png" , rel: "icon" , type: "image/png" , sizes: "96x96" 
		=favicon_link_tag  "/assets/favicon/favicon-16x16.png" , rel: "icon" , type: "image/png" , sizes: "16x16" 
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%meta{:name=>"viewport", :content=> "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"}/		
		%link{:type => "text/css", :rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"}
	%body{:class => "#{controller_name} #{action_name}"}
		=render('home/header')
		- if notice
			.notifications.notice
				%p=notice
		-if alert
			.notifications.alert
				%p=alert
		.main-content-wrapper
			= yield		
		=render('home/footer')